:root {
	/* ------- colors ------- */
	--primary-color: #464653;
	--secondary-color: #2a2a33;
	--tertiary-color: #969c94;
	--quaternary-color: #e4e4e7;
	--link-color: #487212;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
